<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav" style="flex-direction: row;">
        <a class="navbar-brand" href="#">
            <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-left: 30px; margin-right: 30px;">
            <button disabled style="color: white;">{{user}}</button>
        </a>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/form']" style="margin-left: 30px; margin-right: 30px;">Edit/Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/display']" style="margin-left: 30px; margin-right: 30px;">Display/Delete</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['']">login/signin</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>